header {
    margin: 0 auto;
    background-color: #fbbb5c;
    color: black;
}



.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    background-image: url("../src/fondo.jpg");
    background-size: cover;

}

.foto {
    width: 100%;
    overflow: hidden;
}

.foto img {
    max-width: 100%;
    max-height: 100%;
}

.foto img:hover {
    animation: pulse;
    animation-duration: 2s;
}

.texto_1, .texto_2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 1em;
    text-align: center;
}

.texto_1{
    font-family: 'Berkshire Swash', cursive;
    font-size: xxx-large;
}

.texto_2{
    font-size: x-large;
    color: #fbbb5c;
    text-shadow: 1px;
    padding: 2em;
}

.texto_3 {
    background-color: #fbbb5c;
    color: black;
    text-align: justify;
    padding: 5% 5%;
}

.logo {
    width: 300px;
    text-align: center;
    margin: 0 auto;
}

@media only screen and (max-width:992px) {
    .container {
        grid-template-columns: 1fr;
    }

    footer {
        grid-template-columns: 1fr;
        font-size: small;
    }
}

@media only screen and (max-width:800px) {
    nav {
        position: inherit;
        display: inline;
        text-align: center;
    }

    .texto_3 {
        font-size: smaller;
    }

    .redes {
        display: none;
    }

    .logo img {
        width: 50%;
        text-align: center;
    }
}