body{
    color: white;
    font-family: 'Fira Sans Condensed', sans-serif;
    background-color: black;
}

header{
    margin: 0 auto;
    background-color: #fbbb5c;
    color: black;
}

footer{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    color: #fbbb5c;
    align-items: center;
    line-height: 1.7em;
    padding-top: 1em;
}

a{
    color: #fbbb5c;
    text-decoration: none;
    margin: 1em 1em;
}


.foto:hover{
    animation: pulse;
    animation-duration: 0.25s;
}

.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,auto);
    background-image: url("../src/fondo.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.foto{
    overflow: hidden;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.texto_1{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.texto_1 *{
    font-family: 'Berkshire Swash', cursive;
    font-size:xxx-large;
    
    margin: 1em 1em;
    text-align: center;
}

.logo{
    width: 300px;
    display: flex;
    margin: 0 auto;
}

nav{
    padding-top: 1em;
    padding-bottom: 1em;
    top: 0;
    position: sticky;
    background-color: black;
    color: #fbbb5c;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

nav *{
    color: #fbbb5c;
}

nav * *:hover{
    color: white;
}

.texto_3{
    background-color: #fbbb5c;
    color: black;
    text-align: justify;
    padding: 10% 10%;
}

@media only screen and (max-width:992px){
    .container{
        grid-template-columns: 1fr;
    }

    
}