body {
    color: white;
    font-family: 'Fira Sans Condensed', sans-serif;
    background-color: black;
}

footer {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    color: #fbbb5c;
    align-items: center;
    line-height: 1.7em;
    padding-top: 1em;
}

a {
    color: #fbbb5c;
    text-decoration: none;
    margin: 1em 1em;
}



nav {
    padding-top: 1em;
    padding-bottom: 1em;
    top: 0;
    position: sticky;
    background-color: #00000075;
    color: #fbbb5c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 14;
}

nav * {
    color: #fbbb5c;
}

nav * *:hover {
    color: white;
}

a:hover{
    color: white;
}






@media only screen and (max-width:992px) {
    .container {
        grid-template-columns: 1fr;
    }

    footer {
        grid-template-columns: 1fr;
        font-size: small;
    }
}

@media only screen and (max-width:800px) {
    nav {
        position: inherit;
        display: inline;
        text-align: center;
    }

    .texto_3 {
        font-size: smaller;
    }

    .redes {
        display: none;
    }

    .logo img{
        width: 50%;
        text-align: center;
    }
}